name: Dependency Review

on:
  pull_request:
    branches: [main]

permissions:
  actions: read
  contents: read
  pull-requests: write

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Dependency Review
        uses: actions/dependency-review-action@46a3c492319c890177366b6ef46d6b4f89743ed4 # v4
        with:
          fail-on-severity: high
          deny-licenses: GPL-3.0, AGPL-3.0

